<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/site.webmanifest' | relative_url }}">
</head>
<body>
  <header>
    <div class="container">
      <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="Subspace Systems logo showing a network of nodes connected in the shape of an airplane" class="logo" />
      <p>Your partner in complex systems & software architecture</p>
    </div>
  </header>

  <menu>
    <div class="container">
      <nav>
        <ul>
          {% for link in site.data.navigation %}
          <li><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </menu>

  <main class="container">
    {{ content }}
  </main>

  <footer>
    <div class="container">
      <p>&copy; {{ site.time | date: '%Y' }} Subspace Systems LLC — All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
